{:source "https://github.com/bluesky-social/atproto"
 :commit "b9ef5576beeb949bbac776dcbe4e4c2c7af60e74"
 :fetched "2026-06-11"
 :files
 [
  "app/bsky/actor/defs.json"
  "app/bsky/actor/getPreferences.json"
  "app/bsky/actor/getProfile.json"
  "app/bsky/actor/getProfiles.json"
  "app/bsky/actor/getSuggestions.json"
  "app/bsky/actor/profile.json"
  "app/bsky/actor/putPreferences.json"
  "app/bsky/actor/searchActors.json"
  "app/bsky/actor/searchActorsTypeahead.json"
  "app/bsky/actor/status.json"
  "app/bsky/ageassurance/begin.json"
  "app/bsky/ageassurance/defs.json"
  "app/bsky/ageassurance/getConfig.json"
  "app/bsky/ageassurance/getState.json"
  "app/bsky/authCreatePosts.json"
  "app/bsky/authDeleteContent.json"
  "app/bsky/authFullApp.json"
  "app/bsky/authManageFeedDeclarations.json"
  "app/bsky/authManageLabelerService.json"
  "app/bsky/authManageModeration.json"
  "app/bsky/authManageNotifications.json"
  "app/bsky/authManageProfile.json"
  "app/bsky/authViewAll.json"
  "app/bsky/bookmark/createBookmark.json"
  "app/bsky/bookmark/defs.json"
  "app/bsky/bookmark/deleteBookmark.json"
  "app/bsky/bookmark/getBookmarks.json"
  "app/bsky/contact/defs.json"
  "app/bsky/contact/dismissMatch.json"
  "app/bsky/contact/getMatches.json"
  "app/bsky/contact/getSyncStatus.json"
  "app/bsky/contact/importContacts.json"
  "app/bsky/contact/removeData.json"
  "app/bsky/contact/sendNotification.json"
  "app/bsky/contact/startPhoneVerification.json"
  "app/bsky/contact/verifyPhone.json"
  "app/bsky/draft/createDraft.json"
  "app/bsky/draft/defs.json"
  "app/bsky/draft/deleteDraft.json"
  "app/bsky/draft/getDrafts.json"
  "app/bsky/draft/updateDraft.json"
  "app/bsky/embed/defs.json"
  "app/bsky/embed/external.json"
  "app/bsky/embed/gallery.json"
  "app/bsky/embed/getEmbedExternalView.json"
  "app/bsky/embed/images.json"
  "app/bsky/embed/record.json"
  "app/bsky/embed/recordWithMedia.json"
  "app/bsky/embed/video.json"
  "app/bsky/feed/defs.json"
  "app/bsky/feed/describeFeedGenerator.json"
  "app/bsky/feed/generator.json"
  "app/bsky/feed/getActorFeeds.json"
  "app/bsky/feed/getActorLikes.json"
  "app/bsky/feed/getAuthorFeed.json"
  "app/bsky/feed/getFeed.json"
  "app/bsky/feed/getFeedGenerator.json"
  "app/bsky/feed/getFeedGenerators.json"
  "app/bsky/feed/getFeedSkeleton.json"
  "app/bsky/feed/getLikes.json"
  "app/bsky/feed/getListFeed.json"
  "app/bsky/feed/getPostThread.json"
  "app/bsky/feed/getPosts.json"
  "app/bsky/feed/getQuotes.json"
  "app/bsky/feed/getRepostedBy.json"
  "app/bsky/feed/getSuggestedFeeds.json"
  "app/bsky/feed/getTimeline.json"
  "app/bsky/feed/like.json"
  "app/bsky/feed/post.json"
  "app/bsky/feed/postgate.json"
  "app/bsky/feed/repost.json"
  "app/bsky/feed/searchPosts.json"
  "app/bsky/feed/sendInteractions.json"
  "app/bsky/feed/threadgate.json"
  "app/bsky/graph/block.json"
  "app/bsky/graph/defs.json"
  "app/bsky/graph/follow.json"
  "app/bsky/graph/getActorStarterPacks.json"
  "app/bsky/graph/getBlocks.json"
  "app/bsky/graph/getFollowers.json"
  "app/bsky/graph/getFollows.json"
  "app/bsky/graph/getKnownFollowers.json"
  "app/bsky/graph/getList.json"
  "app/bsky/graph/getListBlocks.json"
  "app/bsky/graph/getListMutes.json"
  "app/bsky/graph/getLists.json"
  "app/bsky/graph/getListsWithMembership.json"
  "app/bsky/graph/getMutes.json"
  "app/bsky/graph/getRelationships.json"
  "app/bsky/graph/getStarterPack.json"
  "app/bsky/graph/getStarterPacks.json"
  "app/bsky/graph/getStarterPacksWithMembership.json"
  "app/bsky/graph/getSuggestedFollowsByActor.json"
  "app/bsky/graph/list.json"
  "app/bsky/graph/listblock.json"
  "app/bsky/graph/listitem.json"
  "app/bsky/graph/muteActor.json"
  "app/bsky/graph/muteActorList.json"
  "app/bsky/graph/muteThread.json"
  "app/bsky/graph/searchStarterPacks.json"
  "app/bsky/graph/starterpack.json"
  "app/bsky/graph/unmuteActor.json"
  "app/bsky/graph/unmuteActorList.json"
  "app/bsky/graph/unmuteThread.json"
  "app/bsky/graph/verification.json"
  "app/bsky/labeler/defs.json"
  "app/bsky/labeler/getServices.json"
  "app/bsky/labeler/service.json"
  "app/bsky/notification/declaration.json"
  "app/bsky/notification/defs.json"
  "app/bsky/notification/getPreferences.json"
  "app/bsky/notification/getUnreadCount.json"
  "app/bsky/notification/listActivitySubscriptions.json"
  "app/bsky/notification/listNotifications.json"
  "app/bsky/notification/putActivitySubscription.json"
  "app/bsky/notification/putPreferences.json"
  "app/bsky/notification/putPreferencesV2.json"
  "app/bsky/notification/registerPush.json"
  "app/bsky/notification/unregisterPush.json"
  "app/bsky/notification/updateSeen.json"
  "app/bsky/richtext/facet.json"
  "app/bsky/unspecced/defs.json"
  "app/bsky/unspecced/getAgeAssuranceState.json"
  "app/bsky/unspecced/getConfig.json"
  "app/bsky/unspecced/getOnboardingSuggestedStarterPacks.json"
  "app/bsky/unspecced/getOnboardingSuggestedStarterPacksSkeleton.json"
  "app/bsky/unspecced/getOnboardingSuggestedUsersSkeleton.json"
  "app/bsky/unspecced/getPopularFeedGenerators.json"
  "app/bsky/unspecced/getPostThreadOtherV2.json"
  "app/bsky/unspecced/getPostThreadV2.json"
  "app/bsky/unspecced/getSuggestedFeeds.json"
  "app/bsky/unspecced/getSuggestedFeedsSkeleton.json"
  "app/bsky/unspecced/getSuggestedOnboardingUsers.json"
  "app/bsky/unspecced/getSuggestedStarterPacks.json"
  "app/bsky/unspecced/getSuggestedStarterPacksSkeleton.json"
  "app/bsky/unspecced/getSuggestedUsers.json"
  "app/bsky/unspecced/getSuggestedUsersForDiscover.json"
  "app/bsky/unspecced/getSuggestedUsersForDiscoverSkeleton.json"
  "app/bsky/unspecced/getSuggestedUsersForExplore.json"
  "app/bsky/unspecced/getSuggestedUsersForExploreSkeleton.json"
  "app/bsky/unspecced/getSuggestedUsersForSeeMore.json"
  "app/bsky/unspecced/getSuggestedUsersForSeeMoreSkeleton.json"
  "app/bsky/unspecced/getSuggestedUsersSkeleton.json"
  "app/bsky/unspecced/getSuggestionsSkeleton.json"
  "app/bsky/unspecced/getTaggedSuggestions.json"
  "app/bsky/unspecced/getTrendingTopics.json"
  "app/bsky/unspecced/getTrends.json"
  "app/bsky/unspecced/getTrendsSkeleton.json"
  "app/bsky/unspecced/initAgeAssurance.json"
  "app/bsky/unspecced/searchActorsSkeleton.json"
  "app/bsky/unspecced/searchPostsSkeleton.json"
  "app/bsky/unspecced/searchStarterPacksSkeleton.json"
  "app/bsky/video/defs.json"
  "app/bsky/video/getJobStatus.json"
  "app/bsky/video/getUploadLimits.json"
  "app/bsky/video/uploadVideo.json"
  "com/atproto/admin/defs.json"
  "com/atproto/admin/deleteAccount.json"
  "com/atproto/admin/disableAccountInvites.json"
  "com/atproto/admin/disableInviteCodes.json"
  "com/atproto/admin/enableAccountInvites.json"
  "com/atproto/admin/getAccountInfo.json"
  "com/atproto/admin/getAccountInfos.json"
  "com/atproto/admin/getInviteCodes.json"
  "com/atproto/admin/getSubjectStatus.json"
  "com/atproto/admin/searchAccounts.json"
  "com/atproto/admin/sendEmail.json"
  "com/atproto/admin/updateAccountEmail.json"
  "com/atproto/admin/updateAccountHandle.json"
  "com/atproto/admin/updateAccountPassword.json"
  "com/atproto/admin/updateAccountSigningKey.json"
  "com/atproto/admin/updateSubjectStatus.json"
  "com/atproto/identity/defs.json"
  "com/atproto/identity/getRecommendedDidCredentials.json"
  "com/atproto/identity/refreshIdentity.json"
  "com/atproto/identity/requestPlcOperationSignature.json"
  "com/atproto/identity/resolveDid.json"
  "com/atproto/identity/resolveHandle.json"
  "com/atproto/identity/resolveIdentity.json"
  "com/atproto/identity/signPlcOperation.json"
  "com/atproto/identity/submitPlcOperation.json"
  "com/atproto/identity/updateHandle.json"
  "com/atproto/label/defs.json"
  "com/atproto/label/queryLabels.json"
  "com/atproto/label/subscribeLabels.json"
  "com/atproto/lexicon/resolveLexicon.json"
  "com/atproto/lexicon/schema.json"
  "com/atproto/moderation/createReport.json"
  "com/atproto/moderation/defs.json"
  "com/atproto/repo/applyWrites.json"
  "com/atproto/repo/createRecord.json"
  "com/atproto/repo/defs.json"
  "com/atproto/repo/deleteRecord.json"
  "com/atproto/repo/describeRepo.json"
  "com/atproto/repo/getRecord.json"
  "com/atproto/repo/importRepo.json"
  "com/atproto/repo/listMissingBlobs.json"
  "com/atproto/repo/listRecords.json"
  "com/atproto/repo/putRecord.json"
  "com/atproto/repo/strongRef.json"
  "com/atproto/repo/uploadBlob.json"
  "com/atproto/server/activateAccount.json"
  "com/atproto/server/checkAccountStatus.json"
  "com/atproto/server/confirmEmail.json"
  "com/atproto/server/createAccount.json"
  "com/atproto/server/createAppPassword.json"
  "com/atproto/server/createInviteCode.json"
  "com/atproto/server/createInviteCodes.json"
  "com/atproto/server/createSession.json"
  "com/atproto/server/deactivateAccount.json"
  "com/atproto/server/defs.json"
  "com/atproto/server/deleteAccount.json"
  "com/atproto/server/deleteSession.json"
  "com/atproto/server/describeServer.json"
  "com/atproto/server/getAccountInviteCodes.json"
  "com/atproto/server/getServiceAuth.json"
  "com/atproto/server/getSession.json"
  "com/atproto/server/listAppPasswords.json"
  "com/atproto/server/refreshSession.json"
  "com/atproto/server/requestAccountDelete.json"
  "com/atproto/server/requestEmailConfirmation.json"
  "com/atproto/server/requestEmailUpdate.json"
  "com/atproto/server/requestPasswordReset.json"
  "com/atproto/server/reserveSigningKey.json"
  "com/atproto/server/resetPassword.json"
  "com/atproto/server/revokeAppPassword.json"
  "com/atproto/server/updateEmail.json"
  "com/atproto/sync/defs.json"
  "com/atproto/sync/getBlob.json"
  "com/atproto/sync/getBlocks.json"
  "com/atproto/sync/getCheckout.json"
  "com/atproto/sync/getHead.json"
  "com/atproto/sync/getHostStatus.json"
  "com/atproto/sync/getLatestCommit.json"
  "com/atproto/sync/getRecord.json"
  "com/atproto/sync/getRepo.json"
  "com/atproto/sync/getRepoStatus.json"
  "com/atproto/sync/listBlobs.json"
  "com/atproto/sync/listHosts.json"
  "com/atproto/sync/listRepos.json"
  "com/atproto/sync/listReposByCollection.json"
  "com/atproto/sync/notifyOfUpdate.json"
  "com/atproto/sync/requestCrawl.json"
  "com/atproto/sync/subscribeRepos.json"
  "com/atproto/temp/addReservedHandle.json"
  "com/atproto/temp/checkHandleAvailability.json"
  "com/atproto/temp/checkSignupQueue.json"
  "com/atproto/temp/dereferenceScope.json"
  "com/atproto/temp/fetchLabels.json"
  "com/atproto/temp/requestPhoneVerification.json"
  "com/atproto/temp/revokeAccountCredentials.json"
 ]}
