{:paths ["src" "resources"]
 :deps {org.clojure/clojurescript {:mvn/version "1.11.132"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.1002"}
        org.xerial/sqlite-jdbc {:mvn/version "3.49.1.0"}
        ring/ring-core {:mvn/version "1.13.0"}
        ring/ring-jetty-adapter {:mvn/version "1.13.0"}
        compojure/compojure {:mvn/version "1.7.1"}
        cljsjs/react {:mvn/version "18.3.1-1"}
        cljsjs/react-dom {:mvn/version "18.3.1-1"}
        reagent/reagent {:mvn/version "1.3.0"}
        atproto-clj/atproto-clj {:local/root "../.."}
        org.slf4j/slf4j-simple {:mvn/version "2.0.16"}}
 :aliases
 {;; clj -M:dev
  :dev {:extra-paths ["dev"]
        :jvm-opts ["-Datproto.runtime.cast.dev-enabled=true"]}
  ;; clj -M:run
  :run {:main-opts ["-m" "xyz.statusphere" "config.edn"]}}}
